@font-face {
  font-family: 'San Francisco Display';
  font-weight: bold;
  src: url("/canteen/fonts/san-francisco-display/SanFranciscoDisplay-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'San Francisco Display';
  font-weight: 700;
  src: url("/canteen/fonts/san-francisco-display/SanFranciscoDisplay-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'San Francisco Display';
  font-weight: 900;
  src: url("/canteen/fonts/san-francisco-display/SanFranciscoDisplay-Black.otf") format("opentype");
}

@font-face {
  font-family: 'San Francisco Display';
  font-weight: 600;
  src: url("/canteen/fonts/san-francisco-display/SanFranciscoDisplay-Semibold.otf") format("opentype");
}

@font-face {
  font-family: 'San Francisco Display';
  font-weight: 500;
  src: url("/canteen/fonts/san-francisco-display/SanFranciscoDisplay-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'San Francisco Display';
  font-weight: 400;
  src: url("/canteen/fonts/san-francisco-display/SanFranciscoDisplay-Light.otf") format("opentype");
}
@font-face {
  font-family: 'San Francisco Display';
  font-weight: 300;
  src: url("/canteen/fonts/san-francisco-display/SanFranciscoDisplay-Light.otf") format("opentype");
}

